# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# Sekrit files
private.properties

# Files from bad operating systems :^)
Thumbs.db
.DS_Store
local.properties
.directory
